body {
    background-color: gray;
    font-family:Permanent Maker;
}

footer {
    background-color: blueviolet;
    color:darkcyan;
    position:fixed;
    bottom:0;
    width:100%;
    height: 2rem;
}

footer p{
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}